<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="./img/favicon.png">
    <script src="https://kit.fontawesome.com/00cc85fd4a.js" crossorigin="anonymous"></script>
    <title>WeatherApp</title>
</head>
<body>
    <nav>
    <h1 id="logo"><span class="orange">Weather</span>App</h1>
    <!-- ------------------------------- Search -------------------------------- -->
    <div id="searchbox">
        <div class="box">
            <form name="search" action="/" method="GET">
                <input type="text" class="input" name="city">
            </form>
            <i class="fas fa-search"></i>
        </div>
        </div>
    </nav>
    <!-- ------------------------------- Weather -------------------------------- -->
    <% if(city !== null && weather !== null){ %>
        <div id="city-container">
        <p><span class="orange">City:</span> <%= city %></p>
        </div>
        <div id="forecast-container">
        <div class="container">
            <p class="prop">Temperature</p>
            <p><%= weather.current.temp_c %> &deg;C</p>
            <hr>
            <p class="prop">Wind</p>
            <p><%= weather.current.wind_kph %>  km/h</p>
            <hr>
            <p class="prop">Humidity</p>
            <p><%= weather.current.humidity %> %</p>
            <hr>
            <p class="prop">Condition</p>
            <p><%= weather.current.condition.text %></p>
            <hr>
            <p class="prop">UV index</p>
            <p><%= weather.current.uv %></p>
        </div>
        <div class="forecast">
            <div class="day">
            <p class="date"><%= weather.forecast.forecastday[0].date %></p>
            <img src="img/weather_icons/<%= day0icon %>.png" width="100%" height="100%">
            <p><%= weather.forecast.forecastday[0].day.maxtemp_c %> &deg;C</p>
            <p class="minc"><%= weather.forecast.forecastday[0].day.mintemp_c %> &deg;C</p>
          
            </div>
            <div class="day">
                <p class="date"><%= weather.forecast.forecastday[1].date %></p>
                <img src="img/weather_icons/<%= day1icon %>.png" width="100%" height="100%">
                <p><%= weather.forecast.forecastday[1].day.maxtemp_c %> &deg;C</p>
                <p class="minc"><%= weather.forecast.forecastday[1].day.mintemp_c %> &deg;C</p>
               
            </div>
            <div class="day">
                <p class="date"><%= weather.forecast.forecastday[2].date %></p>
                <img src="img/weather_icons/<%= day2icon %>.png" width="100%" height="100%">
                <p><%= weather.forecast.forecastday[2].day.maxtemp_c %> &deg;C</p>
                <p class="minc"><%= weather.forecast.forecastday[2].day.mintemp_c %> &deg;C</p>
               
            </div>
            <div class="day">
                <p class="date"><%= weather.forecast.forecastday[3].date %></p>
                <img src="img/weather_icons/<%= day3icon %>.png" width="100%" height="100%">
                <p><%= weather.forecast.forecastday[3].day.maxtemp_c %> &deg;C</p>
                <p class="minc"><%= weather.forecast.forecastday[3].day.mintemp_c %> &deg;C</p>
                
            </div>
            <div class="day">
                <p class="date"><%= weather.forecast.forecastday[4].date %></p>
                <img src="img/weather_icons/<%= day4icon %>.png" width="100%" height="100%">
                <p><%= weather.forecast.forecastday[4].day.maxtemp_c %> &deg;C</p>
                <p class="minc"><%= weather.forecast.forecastday[4].day.mintemp_c %> &deg;C</p>
               
            </div>
        </div>
        <div>
    <% } %>
    
</body>
</html>